.сertificate {
  
}
.сertificate__content {
  width: 100%;
  max-height: 290px;
  background-color: #ebf4fd;
  margin-bottom: 75px;
}
.сertificate__item {
  display: flex;
}

.сertificate__item-box {
  max-width: 1070px;
  height: 290px;
  display: flex;
  padding: 30px 0;
}

.сertificate__item-box ul {
  display: flex;
  flex-wrap: wrap;
}

.сertificate__item-box li {
  max-width: 365px;
  list-style-type: none;
  margin: 10px;

  display: flex;
}

.сertificate__item-box li img {
  margin-top: -6px;
  margin-right: 15px;
  height: max-content;
}

.сertificate__item-title {
  font-size: 24px;
  max-width: 1070px;
  font-weight: 500;
  margin: 30px 0;
}

.сertificate_img {
  position: relative;
  max-width: 291px;

  top: -45px;
  right: 0;
  transition: .3s;
}

.сertificate_img:hover {
  transition: .5s;
  top: -65px;
}