.contacts {
  flex: 1;

  color: #2b1f18;
}

.contacts__content {
  margin-top: 45px;
  /* margin-bottom: 75px; */
}

.contacts__item {}

.contact_list {

}

.contacts__column {
  display: flex;
  justify-content: space-between;
}

.column_contaiter {}

.column_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact_list li {
  list-style-type: none;
  line-height: 25px;

  margin-bottom: 25px;
}

.contact_list li a{
  text-decoration: none;
  color: #2b1f18;
}

.testimony_list {
  list-style-type: none;
  line-height: 25px;

  margin-bottom: 25px;
}

.testimony_list li a{
  text-decoration: none;
  color: #2b1f18;
}

.column_contaiter .item_number a {
  display: flex;
  align-items: center;
  text-decoration: none;
}