.current_news {}

.current_news__content {}

.current_news__item {}

.current_news__column {
  display: flex;
  justify-content: space-between;
}

.current_news-text {
  color: #2b1f18;
  max-width: 1010px;
}

.current_news-main_img {
  max-width: 1016px;
  width: 100%;
  max-height: 337px;
  border-radius: 10px;
}

.text_title h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text_date {
  color: #509dea;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.text_desc {
  font-size: 15px;
  color: #2b1f18;
  margin-bottom: 35px;
}
.text_subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #2b1f18;
  margin-bottom: 15px;
}

.text_bold {
  font-weight: bold;
  margin-bottom: 35px;
}

.text_bold li {
  list-style-type: none;
  margin-top: 5px;
}

.text_bold li::before {
  content: "·";
  margin-right: 5px;
}

.text_collor-box {
  background-color: #ebf4fd;
  max-width: 1010px;
  padding: 20px 30px;
  margin-bottom: 35px;
}
.text_collor-box .text_bold {
  margin-bottom: 0px;
}
.current_news_fresh-news {}

.fresh-news_title {
  font-size: 18px;
  color: #1465b9;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.fresh-news-box {
  border-radius: 6px;
  padding: 25px 15px;
  width: 275px;
  height: 636px;
  background-color: #ebf4fd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fresh-news-box a {
  color: #2b1f18;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}