header {
  padding: 12px 0;
  color: white;
  /* box-shadow: 0 0 10px #b9d0e8; */
  box-shadow: 0 0 10px rgb(82 111 132 / 25%);
  

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: black;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

header li {
  list-style-type: none;
}

header a {
  font-size: 15px;
  text-decoration: none;
  color: #2b1f18;
  transition: 0.3s;
}

header a:hover {
  transition: 0.3s;
  color: #7a7a7a;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav_item_mun .header_oreder_call {
  color: #1465b9;
  border-bottom: 1px dashed #1465b9;
}

.header__logo img {
  width: auto;
  height: 67px;
  margin-right: 15px;
}

.header__logo-text {
  max-width: 230px;
}

.header__nav {

}

.header__nav_item {
  display: flex;
}

.header__nav_item li {
  margin-right: 25px;
}

.header__nav_item li a {
  font-weight: 500;
}

.header__nav_item_mun {

}

.header__nav_item_mun li a {
  color: black;
  text-decoration: none;
}

.item_number {
  display: flex;
  align-items: center;
}

.item_number img {
  max-width: 25px;
}

.item_number a {
  font-size: 16px;
  margin-right: 10px;
}

.nav_img_hover:hover {
  transition: 0.3s;
}

.nav_img_hover:hover {
  border-bottom: 0px !important;
  filter: brightness(80%);
  transition: 0.3s;
}

.header__mobile {
  display: none;
}

.header__button-menu {
  display: none;
}

.fa-bars:before {
  content: "\f0c9";
}
.header__nav_item_mobile li {
  margin-top: 20px;
}
.header__nav_item_mobile li a {
  font-size: 20px;
  font-weight: 500;
}

.header__nav_item_mobile .item_number {
  display: flex;
  justify-content: center;
}

.header__nav_item_mobile .header_oreder_call {
  color: #1465b9;
  border-bottom: 1px dashed #1465b9;
  font-size: 16px;
}

.header_oreder_call:hover {
  color: #64a0e0;
}