.news {
  display: flex;
  flex: 1;
}

.news__content {
  padding: 50px 0 0 0;
}

.news__item {
  display: flex;
  margin-bottom: 30px;
}

.news__box {
  max-width: 434px;
  width: auto;
  height: 464px;
  border-radius: 15px;
  box-shadow: 0 12px 20px rgb(185 208 232 / 25%);
  padding: 18px;

  margin-right: 2%;
}

.news__box:nth-child(2n) {
  margin-left: 2%;
  margin-right: 0;
}

.news_img {
  border-radius: 15px;
  overflow: hidden;
  max-height: 244px;
}

.news_img img{
  border-radius: 15px;
  max-width: 433px;
  width: 100%;

  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}

.news_img img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.news_date {
  color: #509dea;
  margin-top: 25px;
}

.news_title {
  font-weight: bold;
  font-size: 18px;
  color: #1465b9;
  margin-top: 18px;

  text-transform: uppercase;
}

.news_title a {
  color: #1465b9;
  text-decoration: none;
}


.news_desc {
  margin-top: 15px;
  font-size: 15px;
  color: #2b1f18;
}

.news__box_min {
  max-width: 823px;
  width: auto;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 12px 20px rgb(185 208 232 / 25%);
  padding: 18px;

  display: flex;
  align-items: center;
}

.news__box_min .news_img {
  min-width: 410px;
  max-height: 204px;
  margin-right: 37px;
  border-radius: 15px;
  overflow:hidden;
}


.news__box_min .news_img img {
  border-radius: 15px;
  min-width: 410px;
  width: 100%;
  height: max-content;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  
}

.news__box_min .news_img img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.news__box_min-content .news_date {
  margin-top: 0px;
}

.news__box_min-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}