@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;800&display=swap');

@import url('media.css');
@import url('fonts.css');
@import url('_header.css');
@import url('../css/_header.css');
@import url('_footer.css');
@import url('_news.css');
@import url('_pagination.css');
@import url('_currentNews.css');
@import url('_breadcrumb.css');
@import url('_documentation.css');
@import url('_certificate.css');
@import url('_contacts.css');
@import url('_forma.css');
@import url('_constructionWork.css');
@import url('_construct_work.css');
@import url('_art_forging.css');
@import url('_fabrication_installation.css');
@import url('_our_services.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contacts__map {
  width: 100%;
  height: 567px;
}

header {
  padding: 12px 0;
  color: white;
  /* box-shadow: 0 0 10px #b9d0e8; */
  box-shadow: 0 0 10px rgb(82 111 132 / 25%);
  

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: black;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

header li {
  list-style-type: none;
}

header a {
  font-size: 15px;
  text-decoration: none;
  color: #2b1f18;
  transition: 0.3s;
}

header a:hover {
  transition: 0.3s;
  color: #7a7a7a;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav_item_mun .header_oreder_call {
  color: #1465b9;
  border-bottom: 1px dashed #1465b9;
}

.header__logo img {
  width: auto;
  height: 67px;
  margin-right: 15px;
}

.header__logo-text {
  max-width: 230px;
}

.header__nav {

}

.header__nav_item {
  display: flex;
}

.header__nav_item li {
  margin-right: 25px;
}

.header__nav_item li a {
  font-weight: 500;
}

.header__nav_item_mun {

}

.header__nav_item_mun li a {
  color: black;
  text-decoration: none;
}

.item_number {
  display: flex;
  align-items: center;
}

.item_number img {
  max-width: 25px;
}

.item_number a {
  font-size: 16px;
  margin-right: 10px;
}

.nav_img_hover:hover {
  transition: 0.3s;
}

.nav_img_hover:hover {
  border-bottom: 0px !important;
  filter: brightness(80%);
  transition: 0.3s;
}

.header__mobile {
  display: none;
}

.header__button-menu {
  display: none;
}

.fa-bars:before {
  content: "\f0c9";
}
.header__nav_item_mobile li {
  margin-top: 20px;
}
.header__nav_item_mobile li a {
  font-size: 20px;
  font-weight: 500;
}

.header__nav_item_mobile .item_number {
  display: flex;
  justify-content: center;
}

.header__nav_item_mobile .header_oreder_call {
  color: #1465b9;
  border-bottom: 1px dashed #1465b9;
  font-size: 16px;
}

.header_oreder_call:hover {
  color: #64a0e0;
}